@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

* {
  font-family: 'Shippori Mincho B1', serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background: lightblue;
}

h1 {
  font-size: 3rem;
  margin: 100px;
}

.todo-container {
  display: flex;
  width: 80%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  padding-bottom: 100px;
}

.todos {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: space-around;
  background: coral;
}

.listItem {
  border: 1px solid black;
}